<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>texture/bullet.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,2768},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>texture/edge.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{2160,2160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2160,2160}</string>
			</dict>
			<key>texture/enemy.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,2680},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>texture/hexagon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2160},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>texture/pentagon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2560},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>texture/player.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,2560},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>texture/shoot_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,2728},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>texture/shoot_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2860},{1500,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1500,10}</string>
			</dict>
			<key>texture/square.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2710},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>texture/triangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2360},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>main_texture.png</string>
			<key>realTextureFileName</key>
			<string>main_texture.png</string>
			<key>size</key>
			<string>{2160,2870}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2160</integer>
			<key>height</key>
			<integer>2870</integer>
		</dict>
	</dict>
</plist>